<script>
    <% if(sideMenu.hide){ %>
        sideMenuClose()
        <% } %>
        $( document ).ready(function() {
            $('.side-menu').css("height",$(document).height()+"px");
        });
        

        
</script>
</body>
</html>